.inner{
  width:1060px;
  position:relative;
  margin:0 auto;

}

.header{
  height: 90px;
  position: relative;
  z-index: 900;
}

.logo{
  float: left;
}

.logo>a{
  display: block;
  width: 190px;
  height: 90px;
  text-indent: -99999em;
  background: url(../images/logo.png) no-repeat ;

}


.gnb{
  float: right;
  position: relative;
  right: -42px;

}

.gnb-depth1{
  margin-top: 8px;
  margin-right: 70px;
}

.gnb-depth1-item{
  float: left;

  text-align: center;
  padding: 30px 0 0;
  background: #f6f6e8 url(../images/gnbBg.png) no-repeat;
}

.gnb-depth2{
  padding: 23px 0 28px;
  background: #f6f6e8;
}

.gnb-depth2-item{
  padding:0 0 15px 0;
}


.gnb-depth2-link{
  font-size:14px;
  color:#666;
}





.visual{
  height:420px;
  position:relative;
}

.visual-list{
  height:420px;
}

.visual-img{
  position:relative;
  height:420px;
  background:url(../images/visual0.jpg) no-repeat 0 -110px;
  background-size:1060px auto;
}

.visual-text{
  width:560px;
  height:208px;
  background:url(../images/vis_txtbg.png) no-repeat 0 0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-104px 0 0 -280px;
}

.visual-text-title{
  width:411px;
  height:44px;
  text-indent:-99999em;
  background:url(../images/v0_txt1.png) no-repeat;
  margin:50px auto 0;
}

.visual-text-desc{
  width:560px;
  height:35px;
  text-indent:-99999em;
  background:url(../images/v0_txt2.png) no-repeat;
  margin:30px auto 0;
}




.article{
  position: relative;

}



.visual-bottom{
  height:78px;
  position:relative;
  width:100%;
  z-index:10;
}

.MBbutton{
  height:78px;
  position:absolute;
  width:100%;
  z-index:10;
  margin-top:19px;
}


.move-left{
  float: left;
}

.move-right{
  float: right;
}



.move-center{
  width:106px;
  height:18px;
  text-indent:-99999em;
  background:url(../images/mBlock0_tit1.gif) no-repeat 50% 0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-9px 0 0 -53px;
}









.mblock-left{

  float:left;
}



.background{
  position: relative;
  padding:35px 36px;
  width: 310px;
  height: 435px;
  background: #faf05e;
  overflow: hidden;
  box-sizing:border-box;
}

.bg{
  margin: -35px;
  padding: 30px 0;
}

.title{
  width:76px;
  height: 20px;
  text-indent: -99999em;
  background: url(../images/mBanS0_tit1.png) no-repeat 0 0;
  margin: 0 36px;
}



.frame{
  display: block;
  position: absolute;
  width: 310px;
  height: 184px;
  text-indent: -99999em;
  background: url(../images/reviewFream0.png) no-repeat center 0;
  background-size: 310px 184px;
  z-index: 10;
}

.img{
  display: block;
  position: relative;
  width: 168px;
  height: 168px;
  text-indent: -99999em;
  background: url(../images/mBanSave_bg.jpg) no-repeat 0 0;
  text-align: center;
  top:8px;
  left: 71px;

}




.bg-text-a{
  display: block;
  margin: 22px 36px;
  font-size: 18px;
  color:#333;
  font-weight: bold;
  top: 0;
  left: 0;

}


.bg-text-b{
  display: block;
  margin: 12px 36px 0;
  font-size: 13px;
  color:#666;
  line-height: 18px;
}



.bar{
  position: absolute;
  bottom:20px;
  width: 238px;
  text-align: center;
}


.safemove{
  height: 69px;
  margin-top: 40px;
  margin-bottom: 58px;

}






.mblock-right{
 position: absolute;
  top:78px;
  left: 359px;

}

.mb-left-a{
  float: left;
}







.mblock-right-gellery{
  width:700px;
}

.glaaery-photo{
 float: left;
  width: 455px;
  height: 300px;


}

.mb-left{
  position: absolute;
  top:0;
  left: 0;
}

.mb-left-left{
  position: absolute;
  left:232px;
}



.mb-left-item1{
  display: block;
}

.mb-left-item2{
  display: block;
  width: 222px;
  height: 222px;
  margin: 10px 0 0;
  padding:0 0 0 13px;
  color:#333;
  font-size: 16px;
  background: url(../images/yellow1x15_bar.gif) no-repeat 0 6px;
}

.mb-left-item3{
  position: absolute;
  top:0;
  right: 12px;
  margin: 270px 0 0;
  text-align: right;

}

.mblock-right-right{
  position: absolute;
  top:0;
  left: 480px;
  float: right;
  width: 222px;
  height: 284px;

}





.mblock-bottom{
  position: absolute;
  top:316px;
  left: 0;
  padding:25px 0 0;
  width: 700px;
  border-top: 2px solid #4b524c;


}



.mblock-bottom-top{
  position: absolute;
  top:66px;
  left: 0;
  width: 330px;
  height: 162px;
  float:left;
  margin:0 38px 0 0;
}



.top-title{
  display: block;
  padding: 10px 0 0;
  font-size: 18px;
  color: #333;
  letter-spacing: -1px;
  background: url(../images/grayTop20x2_bar.gif)no-repeat 0 0;
}

.new{
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 5px;
}

.day{
  display: block;
  margin: 5px 0 0;
}

.news{
  display: block;
  margin: 14px 0 0;
  color:#777;
  font-size: 13px;
  line-height: 22px;
  width: 330px;
  height: 90px;
  text-align: justify;
}


.mblock-bottom-bottom{
  position: absolute;
  top:66px;
  left: 374px;
  width: 330px;
  height: 162px;
  float:right;
  margin:0 38px 0 0;
}










.social{
  width: 100%;
  margin: 60px auto;
  padding: 38px 0 0;
  height: 346px;
  background: #f7f7f7;

}

.social-top{
  position: relative;
  width: 1060px;
  margin: 0 auto;

}




.social-title{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 88px;
  height: 15px;
  background: url(../images/mCsr_tit.png) no-repeat ;
  text-indent: -99999em;
  vertical-align: top;
}


.social-banner{
  padding: 28px 58px 0;
  width: 946px;
  height: 255px;
  margin: 0;
}

.social-banner-img{
  position: relative;
  width: 946px;
  height: 255px;
}
.social-banner-item {
  position: absolute;
  float: left;
  width: 946px;
  top: 0;
  left: 0;
}

.social-img{

  float: left;
  top:0;
  left:0;
  width: 190px;
  margin: 0 46px 0 0;
  display: block;
  height: 255px;

}




.social-banner-move{
  display: block;

}

.social-move-left{
  position: absolute;
  top: 117px;
  left: 0;
}
.social-move-right{
  position: absolute;
  top: 117px;
  right: 0;
}





.notice{
  width: 1060px;
  height: 262px;
  margin: 60px auto;
  position: relative;
}



.social-bottom{
  padding: 0;
  margin: 0;
}


.social-notice{
  position:relative;
  float: left;
  width: 260px;
  padding: 0 30px 0 0;
  margin: 0 49px 0 0;
  height: 202px;
  border-right: 1px solid #e7e7e7;
}

.social-notice-ir{
  display: block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 20px;
  background: url(../images/mNoti_tit.gif) no-repeat ;
  text-indent: -99999em;

}


.social-notice-item{
  position: relative;
  width: 242px;
  height: 174px;

}

.social-notice-item2{
  padding: 0;
  margin: 0;
}

.social-notice-ul{
  position: absolute;
  top:0;
  margin-top:20px;

  font-size: 14px;
}

.social-notice-li{
  width: 100%;
  padding:0 0 12px;
  margin: 0 0 12px;
  border-bottom: 1px dashed #e7e7e7;

}

.name{
  display: block;
  margin: 2px 0 12px;
  font-size: 15px;
  color: #444;
  line-height: 18px;
}

.date{
  display: block;
  margin: 0;
  padding: 0;
}




.btl{
  position: absolute;
  top:0;
  right: 73px;
  width: 23px;
  height: 20px;
  background: url(../images/rowRollL_bt.gif)no-repeat 0 0;
  text-indent: -99999em;
  border:none;
}

.btr{
  position: absolute;
  top:0;
  right: 48px;
  width: 12px;
  height: 20px;
  background: url(../images/rowRollR_bt.gif)no-repeat 0 0;
  text-indent: -99999em;
  border:none;
}


.webzine-left{
  float:left;
  width: 124px;
  margin: 0 18px 0 0;
}

.social-webzine-csr{
  padding: 7px 0 0;
  border-top: 3px solid #e6e6e6;
  margin-top: 20px;
}

.csr{
  font-size: 15px;
  color: #777;
  line-height: 23px;
  margin: 0;
  padding: 0;
  width: 124px;
  height: 23px;
}


.csr-button{
  margin-top: 65px;

  position: relative;
  padding: 11px 0 12px 12px;
  text-align: left;
  font-size: 12px;
  border:1px solid #ebebeb;
  border-bottom: 1px solid #d3d3d3;


}










.report{
  float: left;
  width: 330px;
  padding: 0 30px 0 0;
  margin: 0 50px 0 0;
  border-right: 1px solid #e7e7e7;
}

.social-report-ir{
  display: block;
  margin: 0;
  padding: 0;
  width: 110px;
  height: 20px;
  background: url(../images/mCsrIntro_tit.gif) no-repeat ;
  text-indent: -99999em;
}


.social-report-4move{
  display: block;
  margin-top:20px;
  padding: 0;
  width: 234px;
  height: 33px;
  background: url(../images/mCsrIntroTx.gif) no-repeat ;
  text-indent: -99999em;
}

.social-report-more{
  display: block;
  margin-top:25px;
  padding: 0;
  width: 328px;
  height: 104px;
  background: url(../images/mCsrIntroBanner.gif) no-repeat ;
  text-indent: -99999em;
}





.webzine{
  display: block;
  float: left;
  width: 290px;
  min-height: 200px;
  padding: 0;

}

.social-webzine-ir{
  display: block;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 18px;
  background: url(../images/webzine_tit.gif) no-repeat ;
  text-indent: -99999em;

}



.webzine-right{
  position: absolute;
  top:0;
  right: 0;
  float: right;
  width: 148px;
  height: 200px;
  text-indent: -99999em;
  background: url(../images/webzineImg_bg.gif) no-repeat right 0;
}



.footer{
  width: 100%;
  height: 130px;
  background: #323232;
}




.footer-top{
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 32px 0 0;
  float:left;
}


.inner-a{
  width: 650px;
}







.footer-top .inner-a>li{
  float:left;
  padding:0 13px;
  border-right: 1px solid #555;
}

.footer-top .inner-a>li>a{
  display: block;
  font-size: 14px;
  color: #aeaeae;
  vertical-align: middle;
}

.footer-top .inner-a>li:last-child>a{
  border-right:0;
}

.footer-bottom{
  position: absolute;
  top:54px;
  left: 0;
  padding:0 13px;
  margin: 10px 0 0;
  color: #aeaeae;
  font-size: 14px;
}

.alliance{
  position:relative;
  float:right;
  top:-4px;
  right:5px;

}

.alliance-list{

  padding:0 26px 0 12px;
  width:152px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  color: #fff;
  font-size: 13px;
  border: 1px solid #020202;
  letter-spacing: 0;
  background: url(../images/famBt_bu.gif)  no-repeat right 0 #333;

  overflow: visible;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
}




.button-move{
  width: 53px;
  height: 33px;
  line-height: 31px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0;
  border: 1px solid #020202;
  background: #111;
  margin-bottom: -13px;
}



.clearfix{
  content:"";
  display:block;
  clear:both;
}