.wrap{
  width:980px;
  margin:0 auto;
  color:#fff
}

.header{
  height:100px;
  background: red;
}

.container:after{
  content:"";
  display:block;
  clear:both;
}

.left-col{
  width:490px;
  float:left;
}

.one{
  height: 830px;
  width: 245px;
  background: darkcyan;
  float:left;
}

.two{
  height: 830px;
  width:245px;
  background: burlywood;
  float:left;
}



.right-col{
  width:480px;
  float:left;
}

.three{
  width: 490px;
  height:415px;
  background: gold;
}

.four {
  width: 490px;
  height: 415px;
  background: darkolivegreen;
}



.footer{
  height:100px;
  background:brown;
  clear:both;
}
